<div class="menu-container">
    <div class="col-sm-12 col-md-6 inset">
        <div>LOGO</div>
        <div>Description</div>
        <button>External</button>
    </div>
    <div class="col-sm-12 col-md-6 align-items-center">
        <div class="menu">
            <div class="texts-menu">
                <div class="header">
                    <span>Texts</span>
                </div>
                <div class="body">
                    <button>First Text</button>
                    <button>Second Text</button>
                    <button>Third Text</button>
                </div>
            </div>
        </div>
    </div>
</div>