@import "../../assets/scss/themes";
@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.menu-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    @include themify($themes) {
        color: themed("baseColorLight");
        background: themed("secondaryColorDark");
    }
}

.inset {
    padding: 40px;
}

.menu-container > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    box-sizing: content-box;
    border-radius: 1rem;

    .header {
        border-radius: 1rem;
        font-size: 1rem;
        padding: 1rem 0rem;
        @include themify($themes) {
            color: themed("baseColorLight");
        }
    }
    
}

.texts-menu {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    .body {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.outlined-menu {
    @include themify($themes) {
    background: transparent;
    border: 1px solid themed("secondaryColorLight");

    .header {
        border-bottom: 1px solid themed("secondaryColorLight");
        border-bottom-left-radius: 1rem;
        font-weight: bold;
        border-bottom-right-radius: 1rem;
        background: rgba(themed("baseColorDark"), .5);
        padding: 0.5rem 1rem;
    }
    }
}